.Counter {
    width: 90vw;
    min-height: 190px;
    max-width: 1100px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px #00000020;
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background: #fff;

    .Count {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        span {
            font-size: 40px;
            line-height: 40px;
            font-weight: 500;
        }

        p {
            font-size: 25px;
            font-weight: 400;
        }
    }
}


@media (max-width: 768px) {
    // .Counter {
    //     flex-direction: column;
    //     gap: 60px;
    // }
}